<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>ML APP</title>
    <link rel="shortcut icon" type="image/png" href="img/polaris_logo_small.png">
</head>
<body>
   
    <div class="jumbotron text-center">
        <h1>Welcome to my first ML Application!!!!</h1>
    </div>

    <div class="container">
        <h1>This application is based on the famous Iris Dataset</h1>
        <p>Predicts the species of a flower given its attributes viz. SepalLength, SepalWidth, PetalLength and PetalWidth</p>
    </div>

    {% block content %}

    {% endblock %}
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdn.ckeditor.com/4.6.2/basic/ckeditor.js"></script>
    <script type="text/javascript"></script>

</body>
</html>
